<nav class="flex flex-row justify-center items-center flex-wrap ph2 pl3-ns pr3-ns pb3">
  <div class="brand flex-auto self-start tc">
    <a href="{{baseurl}}/" class="brand">
      <img class="v-mid ml0-l" alt="Apex Plumbing Logo" src="/static/images/apex-logo-title.jpg">
    </a>
  </div>

  <ul class="nav list w-100 w-auto-l flex flex-none flex-row flex-wrap justify-center justify-end-l items-center pv2 ph0 ph4-ns">
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/">Home</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/services">Services</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/tips-and-tricks">Tips And Tricks</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/about-us">About Us</a></li>
    <li class="tc pv2 ph2 ph4-ns flex-20-s"><a href="{{baseurl}}/contact">Contact</a></li>
  </ul>

</nav>
